{% extends "polls/base.html" %}

{% block pagetitle %}{{question.question_text}}{% endblock %}
{% block headertitle %}Vote:{{question.question_text}}{% endblock %}

{% block content %}
<form action="{% url 'testpolls:vote'  question.id %}" method="post">
  {% csrf_token %}

  <fieldset>
    {% if error_message %}
    <p class="error-message">{{ error_message }}</p>
    {% endif %}
    {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{choice.id}}">
    <label for="choice{{ forloop.counter}}" class="list-item">{{ choice.choice_text}}</label><br>
    {% endfor %}
  </fieldset>
  <div>
    <input type="submit" value="Vote" class="flatbutton"/>
  </div>
</form>
{% endblock %}
