{% extends "polls/base.html" %}

{% block pagetitle %}Home{% endblock %}
{% block headertitle %}List of Question{% endblock %}

{% block content %}
{% if latest_question_list %}
<ul>
  {% for question in latest_question_list %}
  <li class="list-item">
    <!-- To use href like below, app_name variable is set to "testpolls". -->
    <a href="{% url 'testpolls:detail' question.id %}">{{ question.question_text }}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}
{% endblock %}
